@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.App{
  --preto1: #0F1C26;
  --braco1: #FDFDFD;
  --cor-de-texto: var(--braco1);
  --preto2: #171B1E;
  --preto3:#1D2226;
  --cor-de-fundo-geral: var(--preto3);
  --branco2: #E5E5E5;
  --fundo-do-banner: var(--branco2);
  --preto4:#07040ad2;
  --cor-de-texto-banner: var(--preto4);
  --preto5: #0B1217;
  --roxo: #A785ED;
  --botoes-de-compra: var(--roxo);
  --dourado: #FBCD6E;
  --rosa-violeta: #E183C8;
  --rosa-violeta2:#f8d5ef;


  font-family: 'Manrope', sans-serif;
  background-color: var(--cor-de-fundo-geral);
  min-height: 100vh;
  min-width: max-content;
}

/* header */
button{
  cursor: pointer;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--preto1);
  color: var(--cor-de-texto);
  height: 6.5rem;
}

.logo{
  background-color: transparent;
}

.favoritos, .promocoes, .perfil, .promocoes button, .favoritos button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  background-color: inherit;
  color: var(--cor-de-texto);
}

.perfil img{
  max-width: 3.5rem;
  max-height: 3.5rem;
}

.procura input{
  background-color: var(--preto2);
  width: 28.5rem;
  height: 3rem;
  padding-left: 0.81rem;
  color: var(--braco1);
  font-size: 1rem;
  border: 1px solid transparent;
}

.procura input:hover{
  border: 1px solid var(--braco);
}

.procura button{
  border: none;
  position: relative;
  right: 3.5rem;
  top: 0.5rem; 
  background-color: transparent;
}

.promocoes button{
  background-color: transparent;
  cursor: pointer;
}

.procura button img{
  width: 1.5rem;
  height: 1.5rem;
}

/* principal */

.principal{
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  gap: 3rem;
  /* place-items: center; */
  place-content: center;
  margin-top: 1.5rem;
  min-width: 58.5rem;
  margin-left: 2rem;
}


/* banner */
.clicado{
  display: none;
}

.banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:1.5rem;
  font-family:'Quantico', sans-serif;
  font-weight: 400;
  background-image: url(./imagens/bg-promotion.svg);
  background-repeat: round;
  min-height: 7.4rem;
  min-width: 58rem;
}

.texto1, .texto2{
  display: flex;
  flex-direction: column;
  justify-items: end;
}

.cupom, .time{
  display: flex;
  align-items: center;
  gap:0.7rem;
}

.money img{
  position: relative;
  bottom: 1rem;
}

.texto1 img{
  background-image: linear-gradient(47.73deg, #EE82D0 16.88%, #F8ACE3 66.1%, #FFC8F0 88.64%);
  box-shadow: 0px 3.6363635063171387px 8.727272033691406px -1.4545453786849976px #F8ACE333;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.texto2 img{
  background-image: linear-gradient(231.76deg, #E5DBFB -9.49%, #B395F3 112.07%);
  border-radius: 50%;
}

.texto1 h2, .texto2 h2{
  color: var(--cor-de-texto-banner);
  font-weight: 400;
}

.texto1 h2{
  font-size: 2.5rem;
}

.texto2 h2{
  font-size: 1.5rem;
} 

/* carrinho */

.carrinho{
  display: grid;
  gap: 2rem;
  place-content: strecth;
  place-items: strecth;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--braco1);
  max-height: min-content;
  /* max-width: max-content; */
}

.topo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  min-width: 19.5rem;
  min-height: 4.5rem;
  font-weight: 700;
  color: var(--cor-de-texto);
  background-image: linear-gradient(0deg, #A785ED, #A785ED),
  linear-gradient(0deg, #C4C4C4, #C4C4C4);
}

.vazio{
  display: grid;
  place-items: center;
  gap: 0.37rem;
  color: var(--cor-de-texto);
  font-size: 1.1rem;
}

.vazio p{
  font-size: 1rem;
}

.desconto{
  display:grid;
  place-content: center;
  margin-bottom: 1rem;
  gap:0.25rem;
}

.desconto > input{
  background-color: var(--preto5);
  width: 17.5rem;
  height: 2.5rem;
  padding-left: 0.81rem;
}

.desconto label{
  font-size: 0.75rem;
  font-weight: 400;
}

.desconto button{
  max-width: 18px;
  position: relative;
  bottom: 2.2rem;
  left: 15rem;
  background-color: transparent;
}

/* Top Filmes */

.topFilmes, .filmesGerais{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(10.5rem, 10.5rem));
  grid-template-rows: 18.8rem;
  gap: 1rem;
}

.filmesGerais{
  grid-template-rows: repeat(3, minmax(18.8rem, 18.8rem));
}

.loja h2{
  color: var(--cor-de-texto);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.filmes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favoritar{
  margin-top: 8px;
  margin-left: 5px;
}

.informacoes{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--cor-de-texto);
  font-weight: 700;
  min-width: inherit;
  margin-left: 8px;
  margin-right: 8px;
}

.notas{
  display:flex;
  color: var(--dourado);
  font-size: 12px;
}

.comprar{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 8px;
  background-color: var(--botoes-de-compra);
  color: var(--cor-de-texto);
}

.comprar p{
  margin: 8px 4px;
  font-size: 12px;
}

/* Filmes */
.filtros{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(10.5rem, 10.5rem));
    gap: 1rem;
}

.filmes2 button{
  text-align: center;
  min-width: 10.5rem;
  min-height: 2.37rem;
  border: 2px solid var(--preto2);
  margin-bottom: 2.62rem;
}

.selecionado{
  color: var(--rosa-violeta);
  background: var(--rosa-violeta2);
}

